<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Title</title>
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
<!--    <script src="js/base.js"></script>-->
<!--    <script src="js/gdjbService.js"></script>-->
<!--    <script src="js/gdjbController.js"></script>-->

    <script>
        var app=angular.module('gdjb1',[]);
        app.controller('gdjbController', function ($scope) {

                $scope.helloWorld = "你好!世界!";
                $scope.helloWorld = function () {
                    $scope.helloWorld = "世界!你好!";
                };
            }
        );
    </script>

</head>
<body>
<div ng-app="gdjb1" ng-controller="gdjbController" ng-if="helloWorld()">
helloWorld1:  {{helloWorld}}
</div>
<!--<div ng-app="gdjb" ng-controller="gdjbController" ng-if="helloWorld()">
helloWorld:  {{helloWorld}}
</div>-->
</body>
</html>
