<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="js/angularjs/jquery.min.js"></script>
    <script src="js/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="js/base.js"></script>
    <script src="js/service/testService.js"></script>
    <script src="js/controller/testController.js"></script>
    <script>
        /*$(document).ready(function(){
            #nimei.click(function(){
                $.post("http://localhost:8080/oauth/authorize?client_id=jie&response_type=code&redirect_uri=http://localhost:8090/",
                    {
                        name:""
                    },
                    function(data,status){
                        alert("数据：" + data + "\n状态：" + status);
                    });
            });
        });
*/
        $(document).ready(function(){
            $("button").click(function(){
                $.get("http://localhost:8080/oauth/authorize?client_id=jie&response_type=code&redirect_uri=http://localhost:8090/");
            });
        });

    </script>

</head>
<body ng-app="love" ng-controller="testController" ng-init="aaa()">

<!--<button type="button" ng-show=" entity.project==null ? false : true" class="btn bg-olive btn-xs"
        ng-click="untieProject(entity.equipment.id)">解绑
</button>-->
<!--http://localhost:8080/oauth/authorize?client_id=jie&response_type=code&redirect_uri=http://localhost:8090/-->
<button type="button" ng-click="gainCode()">获取授权码</button>
<a href="http://localhost:8080/oauth/authorize?client_id=jie&response_type=code&redirect_uri=http://localhost:8090/">获取授权码</a>
<button type="button" ng-click="redirect1()">重定向测试</button>
<button type="button" id="nimei" >nimei</button>

<input placeholder="Code" ng-model="code">
<button type="button" ng-click="gainToken()">获取token</button>
<a class="a_post" href="#">获取token</a>
<input placeholder="token" ng-model="token">
<button type="button" ng-click="test1()">test请求</button>

<p>{{hitokoto.hitokoto}}</p>

</body>
</html>